@import '../Home/variables.scss';

.HideDispla {
  display: flex;
  background: $background-main;
  background: linear-gradient(
    90deg,
    rgba(189, 154, 228, 0.9612219887955182) 6%,
    rgba(204, 186, 213, 0.6446953781512605) 27%,
    rgba(210, 209, 158, 0.9920343137254902) 78%
  );
  z-index: 1000;
}

.HideDisplay {
  padding-top: 20px;
  display: inline-block;
  margin-right: 40px;
  padding-left: 40px;
}

.h2hidetext {
  font-size: clamp(14px, 1.7vw, 58px);
}

.HideDisplay,
p {
  font-size: clamp(14px, 1.5vw, 58px);
}
