@import '../components/variables.scss';

.NavContainer.registerNav {
  display: none;
}

.registerContainer {
  background-color: $background-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: $font-size18;
}

.registerForm {
  width: 50em;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
}

.errorMessage {
  color: red;
  font-size: $font-size15;
  padding: 3px;
}

.TaxId {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.TaxIdcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.TaxIdcon span {
  padding: 10px;
  font-size: $font-size18;
  text-align: center;
}

.TaxIdcon img {
  width: 70px;
  height: auto;
}

.authForm h2 {
  font-size: $font-size20;
}

.multi-step-form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.authForm p {
  font-size: $font-size20;
}

.row {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  flex-wrap: wrap;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.field-container {
  width: 400px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: $font-size18;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  border-color: #fff700;
  outline: none;
}

.login {
  margin-bottom: 10px;
}

.loadingBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.ball-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  animation: bounce 0.6s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}


.success-container {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 10px;
}