.success-container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 100vh;
         padding: 20px;
       }
       
       .successFlag {
         width: 100px;
         margin-bottom: 20px;
       }
       
       .successH2 {
         margin-bottom: 15px;
         font-size: 24px;
       }
       
       .successText {
         margin-bottom: 10px;
         font-size: 16px;
       }
       
       .successBtn {
         padding: 10px 20px;
         background-color: #007BFF;
         color: white;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         font-size: 16px;
       }
       
       button:hover {
         background-color: #0056b3;
       }
       