@import '../Home/variables.scss';

.headerContainer.BankHome {
    position: relative;
}
.ulhead.BankHome {
    display: none;
}

.title.BankHome, .head-title.BankHome {
    font-size: $font-size20;
    font-weight: 700;
    color: #333;
  }

  .logo.BankHome {
    margin-right: -5px;
  }

.h1 {
    margin-top: 50px;
    display: none;
}

.account {
    margin-top: .2em;
    padding-left: 10px;
}

.accountText {
    margin-right: 2px;
    margin-top: 2px;
    width: 10em;
    height: 37px;
    border: #33333328;
    border-radius: 3px;
    font-weight: 500;
}

.userUpdate {
    display: flex;
    justify-content: space-between;
}

.welcome {
    font-size: $font-size18;
    padding-left: 20px;
    margin-top: 10px;
}

.lastlog {
    font-size: $font-size15;
}

.accBal {
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
}

.Bal {
    max-width: 35em;
    border: 2px solid rgba(185, 173, 149, 0.459);
    margin-right: 5px;
    margin-left: 5px;
}

.Acc {
    background-color: rgba(188, 154, 228, 0.568);
    max-width: 100%;
    height: 60px;
    font-size: $font-size22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
}

.transfer {
    font-size: $font-size15;
    cursor: pointer;
}

.BalAcc {
    padding-left: 28px;
    font-size: $font-size15;
    color: grey;
    cursor: pointer;
}

.premiumcheck {
    border-bottom: 1px solid rgba(185, 173, 149, 0.459);
    margin-left: 30px;
    margin-right: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.premiumcheckmobile {
    display: none;
    border-bottom: 1px solid rgba(185, 173, 149, 0.459);
    margin-left: 30px;
    margin-right: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.premiumcheckSmallmobile {
    display: none;
    border-bottom: 1px solid rgba(185, 173, 149, 0.459);
    margin-left: 30px;
    margin-right: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.Balc {
    font-size: $font-size15;
    font-weight: 500;
}

.dotbalance {
    display: inline-block;
    position: bottom;
    width: 50px;
    border-top: 1px dashed grey;
}

.BalAc {
    font-size: $font-size15;
    padding-left: 33px;
}

.BalTo {
    font-size: $font-size15;
    height: 40px;
    padding-top: 13px;
    padding-left: 25px;
    background-color: beige;
    font-weight: 500;
}

.totaldepo {
    padding-top: 10px;
    font-size: $font-size15;
    padding-left: 33px;
    font-weight: 500;
}

.totaldepomobile {
    display: none;
    padding-top: 10px;
    font-size: $font-size15;
    padding-left: 33px;
    font-weight: 500;
}

.totaldepoSmallmobile {
    display: none;
    padding-top: 10px;
    font-size: $font-size15;
    padding-left: 33px;
    font-weight: 500;
}

.billPayment {
    margin-left: 50px;
    margin-right: 70px;
    margin-top: 20px;
}

.paybills {
    border: 2px solid rgba(185, 173, 149, 0.459);
    margin-bottom: 5px;
    padding: 20px 0 10px 30px;
    width: 22rem;
}

.paymentbill {
    margin-right: 20px;
    border-bottom: 1px solid rgba(185, 173, 149, 0.459);
    font-size: 23px;
}

.paymenttext {
    font-size: $font-size15;
    margin-right: 20px;
}

.signpay {
    margin-left: 60px;
    border: #33333328;
    border-radius: 3px;
    max-width: 11.5em;
    height: 40px;
    font-weight: 500;
}

.toolbox {
    border: 2px solid rgba(185, 173, 149, 0.459);
    padding: 20px 0 20px 15px;
    margin-top: 70px;
    margin-left: 80px;
}

.ontool {
    padding-bottom: 15px;
    font-size: 25px;
}

.ontext {
    font-size: $font-size15;
    padding-left: 25px;
    margin-bottom: 1px;
    color: rgb(118, 9, 243);
    text-decoration: underline;
    cursor: pointer;
}

.creditfiscoscore {
    margin-left: 5px;
    border: 2px solid rgba(185, 173, 149, 0.459);
    max-width: 29rem;
    margin-top: 20px;
    padding-bottom: 20px;
}

.creditsco {
    padding-left: 155px;
    padding-top: 10px;
}

.fisco {
    display: flex;
}

.fiscoscore {
    font-size: $font-size15;
    padding-right: 3px;
    padding-left: 10px;
}

.tracking {
    font-size: $font-size15;
    padding-left: 10px;
}

.shoscore {
    margin-left: 150px;
    border: #271e1ebb;
    border-radius: 3px;
    font-weight: 500;
    height: 35px;
    max-width: 8em;
}

.externalacclink {
    border: 2px solid rgba(185, 173, 149, 0.459);
    max-width: 25em;
    max-height: 40vh;
    margin-left: 9em;
    margin-top: 30px;
}

.linkExternal {
    margin-bottom: -2px;
    font-weight: 500;
    padding-left: 10px;
    font-size: 24px;
}

.getstartb {
    margin-left: 140px;
    margin-bottom: 10px;
    border: #33333328;
    border-radius: 3px;
    font-weight: 500;
    height: 35px;
    max-width: 8em;
}

.vfcuinvest {
    height: 50px;
    background-color: rgba(188, 154, 228, 0.568);
    font-size: 23px;
    padding-left: 15px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invest {
    display: flex;
    padding-left: 20px;
}

.smallwin {
    font-size: 17px;
    margin-bottom: -2px;
}

.smallwinbtn {
    border: #33333328;
    border-radius: 3px;
    font-weight: 500;
    height: 35px;
    max-width: 8em;
    margin-top: 20px;
}

.footncua {
    margin-top: 40px;
    border-top: 2px solid rgba(185, 173, 149, 0.459);
    padding-top: 10px;
}

.footncuawrap {
    margin: 1px auto;
    max-width: 39em;
    display: flex;
    font-weight: 500;
}

.foottextnc {
    font-size: 12px;
}

.bankview.BankHome {
    display: flex;
    justify-content: space-between;
}

.notification.BankHome {
    padding-right: 5px;
    font-size: $font-size15;
    cursor: pointer;
}

.logout.BankHome {
    height: 35px;
    width: 5.5em;
    font-weight: 500;
    border: #33333328;
    border-radius: 3px;
}

.navToggle.BankHome {
    display: none;
}

@media (max-width: 915px) {
    .title.BankHome {
      font-size: 20px;
    }
  }
@media (max-width: 762px) {
    .notification.BankHome {
      display: none;
    }
  }

  @media (max-width: 615px) {
    .welcome {
        font-size: $font-size13;
    }
    .lastlog {
        font-size: $font-size13;
    }
    .premiumcheck {
        display: none;
    }
    .premiumcheckmobile {
        display: block;
    }
    .totaldepo {
        display: none;
    }
    .totaldepomobile {
        display: block;
    }
    .externalacclink {
      max-width: 17em;
    }
    .creditfiscoscore {
        width: 100%;
        margin-right: 10px;
    }
    .creditsco {
        height: 55px;
        background-color: #5e5e5e7a;
    }
    .fiscorepic{
        max-width: 25em;
    }
    .exacc {
        max-width: 16.5em;
        height: 10px;
    }
    .linkExternal {
        font-size: $font-size15;
    }

    .getstartb {
        margin-left: 75px;
    }
    .fdic {
        display: none;
    }
    .ncuapic {
        width: 6em;
    }
    .foottextnc {
        font-size: 10px;
        padding-left: 10px;
    }

    .signpay {
       max-width: 13em;
    }
    .shoscore {
        max-width: 13em;
    }

    .getstartb {
        max-width: 13em;
    }
  }

  @media (max-width: 420px) {
    .premiumcheckmobile {
        display: none;
    }

    
    .totaldepomobile {
        display: none;
    }

    .premiumcheckSmallmobile {
        display: block;
    }

    .totaldepoSmallmobile {
        display: block;
    }

  }